.header-logo{  
    padding: 20px 20px; 
    float: left;
    font-size: 36px;
}
header{
    background-color: #efabc0;
    font-family: 'Train One';
}
.profile{
    margin: auto;
}
img{
    height: 250px;
    width: 250px;
    padding-top: 16px;
    padding-bottom: 24px;
}
.skills{
    margin: auto;
    background-color: #f1cb71;
    padding-top: 16px;
    padding-bottom: 24px;
}
.portfolios{
    margin: auto;
    padding-top: 16px;
    padding-bottom: 24px;
}
footer{
    background-color: #c38c0b;
}